@import '../../../../scss/variables.scss';

#accessories-container {
  min-height: 50vh;
  #header {
    background-color: lighten($color1, 10%);
    border-radius: 5px;
    color: lighten($color1, 75%);
  }
}
