@import '../../../../scss/variables.scss';

#accessories-container {
  background-color: lighten($color1, 30%);
  #header {
    background-color: lighten($color1, 10%);
    border-radius: 5px;
    color: lighten($color1, 75%);
  }

  #add-accessory-icon {
    color: lighten($color1, 50%);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: darken($color5, 25%);
      cursor: pointer;
    }
  }
}
