@import '../../../../scss/variables.scss';

.accessories-item {
  border-radius: 3px;
  box-shadow: 2px 2px 5px $color1;
  background-color: lighten($color1, 50%);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color3;
    cursor: pointer;
  }
}
