@import '../../../scss/variables.scss';

@media screen and (min-width: 992px) {
  nav {
    padding: 0;
    svg {
      height: 13vh;
      width: auto;
      margin: 0 1vw;
    }
  }

  .navbar {
    border-bottom: 15px solid darken($color5, 20%);
    margin: 0;
    padding: 0;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 5vw;
    // display: flex;
    height: 15vh;
    align-items: flex-end;
    justify-content: space-between;

    .nav-item {
      align-items: flex-end;
      background-color: darken($color5, 30%);
      display: flex;
      padding: 0 10px;
      margin-left: 10px;
      min-height: 50%;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: darken($color5, 50%);
        min-height: 100%;
      }
    }
  }
}
