@import "../../../../scss/variables.scss";

#general-content-container {
//   background-color: lighten($color4, 15%);
    

  #left-column {
    background-color: lighten($color1, 10%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: lighten($color1, 75%);
  }

  #right-column {

    .detail-label {
      background-color: lighten($color1, 50%);
      border-bottom: 1px solid lighten($color1, 30%);
      font-size: 1.2em;
    }

    .detail-text {
      background-color: lighten($color1, 60%);
      border-bottom: 1px solid lighten($color1, 40%);
    }
  }
}
